<p>Are you sure you want to delete:</p>
<blockquote><p><%= @item.content %></p></blockquote>
<form action="/delete/<%= @item.id %>" method="POST">
  <button type="submit" class="btn btn-success" name="ok"><i class="icon-ok-sign icon-white"></i> OK</button>
  <button type="submit" class="btn btn-danger" name="cancel"><i class="icon-ban-circle icon-white"></i> Cancel</button>
</form>