<ul id="todo-list" class="unstyled">
    <% @items.each do |item| %>
      <li id="<%= item[:id] %>">
        <span class="item"><%= item[:done] ? "<del>#{item[:content]}</del>" : item[:content] %></span>
        <span class="pull-right">
          <a href="#" class="btn done btn-success"><i class="icon-ok icon-white"></i><%= item[:done] ? " Not done" : " Done" %></a>
          <a href="/delete/<%= item[:id] %>" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
        </span>
      </li>
    <% end %>
</ul>
<div style="text-align:center"><a href="/new" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a Task</a></div>