<div class="input-append">
<form action="/new" class="form-inline" method="POST">
  <input type="text" placeholder="Enter a task..." name="content" id="appendedInputButton">
  <button type="submit" class="btn"><i class="icon-plus"></i> Add</button>
</form>
</div>